nav {
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  .logo img {
    height: 40px;
  }
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav ul li.search-box {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  nav ul li.search-box form {
    display: flex;
    align-items: center;
  }
  
  nav ul li.search-box input[type="text"] {
    height: 30px;
    width: 200px;
    border-radius: 15px;
  
  }
  .container {
    display: flex;
    align-items: center;
  }
  
  img {
    float: left;
    margin-right: 20px; /* ajustez la marge selon vos besoins */
  }
  
  .text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  p {
    text-align: center;
  }
  
  
  .product-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-list li {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    border: 1px solid #848383;
    padding: 10px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #fff;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
  }
  
  .products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .products li {
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #000000;
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
  }
  
  .products li img {
    max-width: 100%;
    height: auto;
  }
  
  .products li h3 {
    margin-top: 0;
  }
  
  .products li p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration
  